/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2015, 3:49:24 PM
    Author     : heatherhua
*/

html, body {
    width: 100%;
}
top{
    width: 100%;
}
h1 {
    padding-left: 10%;
    width: 50%;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: black;
    text-decoration: none;
}

table {
    border: 1px; 
    width : 100%;
    margin: 0 auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

ul#categories {
    float: left;
}
ul#categories li{
    width: auto;
    list-style-type: none;
    padding: 5px;
    margin-bottom: 10px;
}

ul#categories a {
    display: block;
    width: auto;
    color: black;
    text-decoration: none;
}

ul#categories a:hover {
    display: block;
    width: auto;
    background-color: #ccffcc;
    height: 100%;
    width: 100%;
    color: black;
}
ul#categories a.selected {
    display: block;
    width: auto;
    color: black;
    background-color: #ccffcc;
}

table.products {
    float: right;
    width: 80%;
}
table.search{
    float:right;
    width: 80%;
}


tr th {
    padding: 20px;
    font-size: 20px;
    background-color: gainsboro;
    color: white;
    font-weight: bold;
}
tr{
    width: 100%;
}
tr:hover td {
    color: darkgray;
}

td {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
}

h4 {
    color: darkred;
}
input[type=text] {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
input[type=submit]:hover {
    background-color: #cccccc;
}

input[type=submit] {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    padding: 7px 10px;
    background-color: white;
    font-size: 20px;
}

